:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color: #EE4D2D;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

}
*{
     box-sizing: inherit;
}
html{
    /* 16px=100% default*/
    /* 1ream=16px */
    font-size: 62.5%;
    /* 1rem=10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

